node_modules/

.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

coverage/

.DS_Store  # macOS
Thumbs.db  # Windows

.vscode/
.idea/
*.swp  # Vim swap files

dist/
build/

package-lock.json
yarn.lock
